<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    @Styles.Render("~/Content/css/portal-style")
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">

    <script type="text/javascript" src="//fast.fonts.net/jsapi/6911e1b9-7d52-4c6f-9485-ffb9b6c4d352.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>       
        
</head>
<body class="@ViewBag.BodyCssClass">
    @RenderBody()

    @RenderSection("baseScripts", required: false)

</body>
</html>